@model Text 
@{
    ViewData["Title"] = "Редактор";
}

<h1>Редактор</h1>

<form method="post" asp-controller="Home" asp-action="Offormlenie">

    <div id="radioBox">
        <label class="radio-label">
            Добавлять ли &lt;tab&gt; и &lt;center&gt;?
        </label>
        <div class="radio-group">
            <label for="optionYes" class="radio-option">
                <input type="radio" id="optionYes" name="option" value="да" checked>
                Да
            </label>
        </div>
        <div class="radio-group">
            <label for="optionNo" class="radio-option">
                <input type="radio" id="optionNo" name="option" value="нет">
                Нет
            </label>
        </div>

    </div>
    

    <style>
        .radio-group {
            display: inline-flex;
            align-items: center;
        }

        .radio-option {
            display: flex;
            align-items: center;
        }

        input[type="radio"] {
            margin-right: 5px;
        }

        #radioBox{
            background-color: rgba(162, 128, 254, 0.5);
            padding: 20px;
            border-radius: 12px;
            width: 90%;
        }
    </style>

    <label asp-for="Текст"></label>
    <textarea asp-for="Текст"></textarea>
    <span asp-validation-for="Текст"></span>
    
    <input type="submit" value="Редактировать" />

    @* я не знаю почему, но у меня работает только так *@
    @if (!string.IsNullOrEmpty(Model.Текст_после))
    {
        <label asp-for="Текст_после"></label>
        <textarea readonly asp-for="Текст_после"></textarea>
    }

    <label style="display: block; text-align: left; margin-top: 20px;">
            Основная функция: редактирование текста с использованием инструментов, принятых на некоторых сайтах и сайте Фикбук в частности (&lt;tab&gt;, &lt;center&gt;).
        <br/><br/>
        Конкретнее о подфункциях:
        <ol style="margin-left: 20px;">
            <li>Все короткие тире «-» заменяются на длинные «—», если это не дефис;</li>
            <li>Каждый новый абзац начинается с отступа;</li>
            <li>Между абзацами разного типа (простой текст и диалог) ставится пустая строка;</li>
            <li>Разделение в виде последовательности «***» или более, помещается в центр;</li>
            <li>Большое количество пустых строк сводится к одной;</li>
            <li>Повышение регистра первой буквы в абзаце;</li>
            <li>Проставление точек в конце абзаца, если нет чего-либо из пунктуации.</li>
        </ol>
    </label>

</form>