@model Text 
@{
    ViewData["Title"] = "Редактор";
}

<h1>Редактор</h1>

<form method="post" asp-controller="Home" asp-action="Offormlenie">

    <div id="radioBox" style="position: relative;">
        <label class="radio-label">
            Добавлять ли &lt;tab&gt; и &lt;center&gt;?
        </label>
        <div class="radio-group">
            <label for="optionYes" class="radio-option">
                <input type="radio" id="optionYes" name="option" value="да" checked>
                Да
            </label>
        </div>
        <div class="radio-group">
            <label for="optionNo" class="radio-option">
                <input type="radio" id="optionNo" name="option" value="нет">
                Нет
            </label>
        </div>
        <img src="/cat3.svg" style="width:150px; height:150px; position: absolute; right: 20px; top: -15px;">
    </div>
    

    <label asp-for="Текст"></label>
    <textarea asp-for="Текст"></textarea>
    <span asp-validation-for="Текст"></span>
    
    <input type="submit" value="Редактировать" />

    @* я не знаю почему, но у меня работает только так *@
    @if (!string.IsNullOrEmpty(Model.Текст_после))
    {
        <input type="submit" value="Очистить" name="ClearText" style="margin-left:15px;"/>
        <label asp-for="Текст_после"></label>
        <textarea readonly asp-for="Текст_после"></textarea>
        <input type="button" value="Скопировать" onclick="copyToClipboard()" />
    }

    <div id="exampleLabel">Пример</div>
    <div class="example">
        <div class="block">
            <div class="label">Текст</div>
            <textarea readonly class="textarea" rows="10">
Здравствуйте. это короткий пример для вас

рассмотрим парочку случаев: 
- Вот это у нас диалог. обратите внимание, что после тире обязательно пробел
-вот так работать не будет...
***
Как вы видите, диалог и простой текст разделяются абзацами.
- Диалог.
- Очень интересный диалог. 
Текст. 

Еще можно поставить пустой абзац не к месту, он сохранится. 



Но много абзацев сведутся к одному.
На этом у меня все, спасибо за внимание!
            </textarea>
        </div>
        <div class="block">
            <div class="label">С &lt;tab&gt; и &lt;center&gt;</div>
            <textarea readonly class="textarea" rows="10">
&lt;tab&gt;Здравствуйте. Это короткий пример для вас.
&lt;tab&gt;Рассмотрим парочку случаев:

&lt;tab&gt;— Вот это у нас диалог. Обратите внимание, что после тире обязательно пробел.

&lt;tab&gt;-вот так работать не будет...

&lt;center&gt;***&lt;/center&gt;
&lt;tab&gt;Как вы видите, диалог и простой текст разделяются абзацами.

&lt;tab&gt;— Диалог.
&lt;tab&gt;— Очень интересный диалог.

&lt;tab&gt;Текст.

&lt;tab&gt;Еще можно поставить пустой абзац не к месту, он сохранится.

&lt;tab&gt;Но много абзацев сведутся к одному.
&lt;tab&gt;На этом у меня все, спасибо за внимание!
            </textarea>
        </div>
        <div class="block">
            <div class="label">Без &lt;tab&gt; и &lt;center&gt;</div>
            <textarea readonly class="textarea" rows="10">
Здравствуйте. Это короткий пример для вас.
Рассмотрим парочку случаев:

— Вот это у нас диалог. Обратите внимание, что после тире обязательно пробел.

-вот так работать не будет...

***

Как вы видите, диалог и простой текст разделяются абзацами.

— Диалог.
— Очень интересный диалог.

Текст.

Еще можно поставить пустой абзац не к месту, он сохранится.

Но много абзацев сведутся к одному.
На этом у меня все, спасибо за внимание!
            </textarea>
        </div>
    </div>
    <label style="display: block; text-align: left; margin-top: 20px;">
        Основная функция: редактирование текста с использованием инструментов, принятых на некоторых сайтах, в частности Фикбуке (&lt;tab&gt;, &lt;center&gt;).
        <br /><br />
        Конкретнее о подфункциях:
        <ol style="margin-left: 20px;">
            <li>Все короткие тире «-» заменяются на длинные «—», если это не дефис;</li>
            <li>Каждый новый абзац начинается с отступа;</li>
            <li>Между абзацами разного типа (простой текст и диалог) ставится пустая строка;</li>
            <li>Разделение в виде последовательности «***» или более, помещается в центр;</li>
            <li>Большое количество пустых строк сводится к одной;</li>
            <li>Повышение регистра первой буквы в абзаце и знака пунктуации;</li>
            <li>Проставление точек в конце абзаца, если нет чего-либо из пунктуации.</li>
        </ol>
    </label>
</form>

<script>
    function copyToClipboard() {
        var textarea = document.querySelector("textarea[readonly]");
        textarea.select();
        document.execCommand("copy");

        var message = document.createElement('div');
        message.id = 'copyMessage';
        message.textContent = 'Скопировано в буфер обмена';
        document.body.appendChild(message);

    }
</script>