@using System.Data.SqlClient
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Ingini" />
    <meta name="keywords" content="оформление,редактор,фикбук,ficbook,ingini,instories"
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link href="/iconka2.ico" rel="shortcut icon" runat="server" type="image/x-icon" />
    <link href="/iconka2.ico" rel="icon" runat="server" type="image/ico" />

</head>
<body>
   <header>
       <span class="logo">InStories</span>
       <nav>
           <a href="/">Главная</a>
           <a href="/contacts">Обратная связь</a>
       </nav>
   </header>
   <main>
       @RenderBody()

        <div id="imageCat" >
            <div style="box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4); color: #fff; background-color: rgba(162, 128, 254, 0.5); padding: 20px; border-radius: 12px;">
                <p style="text-align: center;">
                    А вы любопытный!
                </p>
            </div>
            <img src="/cat12.png">
        </div>

        @{
            /* c# код, я просто в шоке */
            // Здесь идет ваш C# код для заполнения таблиц из базы данных

            string connectionString = "workstation id=InStories.mssql.somee.com;packet size=4096;user id=Ingini_SQLLogin_1;pwd=m19zvm8xz9;data source=InStories.mssql.somee.com;persist security info=False;initial catalog=InStories;TrustServerCertificate=True";
            string contactsQuery = "SELECT * FROM Contacts";
            string statisticQuery = "SELECT * FROM statistika";

            string contactsTableHtml = "";
            using (SqlConnection connection = new SqlConnection(connectionString))
            {
                connection.Open();
                SqlCommand contactsCmd = new SqlCommand(contactsQuery, connection);
                SqlDataReader contactsReader = contactsCmd.ExecuteReader();

                while (contactsReader.Read())
                {
                    int id = (int)contactsReader["id"];
                    string name = (string)contactsReader["Name"];
                    string email = (string)contactsReader["Email"];
                    string message = (string)contactsReader["Message"];

                    string rowHtml = $"<tr><td>{id}</td><td>{name}</td><td>{email}</td><td>{message}</td></tr>";
                    contactsTableHtml += rowHtml;
                }

                contactsReader.Close();
            }

            // Аналогично заполняем таблицу "Статистика"

            string statisticTableHtml = "";
            using (SqlConnection connection = new SqlConnection(connectionString))
            {
                connection.Open();
                SqlCommand statisticCmd = new SqlCommand(statisticQuery, connection);
                SqlDataReader statisticReader = statisticCmd.ExecuteReader();

                while (statisticReader.Read())
                {
                    int id = (int)statisticReader["id"];
                    string ipAddress = (string)statisticReader["IPAddress"];
                    string time = $"{ statisticReader["Time"]}";

                    string rowHtml = $"<tr><td>{id}</td><td>{ipAddress}</td><td>{time}</td></tr>";
                    statisticTableHtml += rowHtml;
                }

                statisticReader.Close();
            }


        }

        @* если пароль верный, то появятся таблички *@
        <div id="tableDisplay" style="display: none;">
            <h3>Статистика</h3>
            <table id="statisticTable">
                @Html.Raw(statisticTableHtml)
            </table>
            
            @* <button id="deleteStatistic" onclick="DeleteStatistic()">Удалить</button> *@
            
            <h3>Обратная связь</h3>
            <table id="contactsTable">
                @Html.Raw(contactsTableHtml)
            </table>
            
            @* <button id="deleteContacts" onclick="DeleteContacts()">Удалить</button> *@
        </div>


   </main>
    <footer>
        <p onclick="showPasswordPrompt()">© Ingini</p>
        @* <p>Все права защищены</p> *@

        @* если нажать на ingini, то появится ввести пароль *@
        <div id="passwordPrompt" style="display: none;">
            <span id="closeButton">&#10006;</span>
            <input type="password" id="passwordInput">
            <button onclick="checkPassword()">Подтвердить</button>
        </div>
    </footer>
    <style>

        #imageCat {
            display: none;
            position: fixed;
            max-width: 30%;
            height: auto;
            bottom: 0;
            right: 0;
            opacity: 0;
            transition: right 1s, opacity 1.5s;
            z-index: 99;
        }

            #imageCat img {
                max-width: 100%;
                height: auto;
            }
            #imageCat.show {
                right: 0px;
                opacity: 1;
            }


        #statisticTable {
            width: 100%;
            border-collapse: collapse;
        }

            #statisticTable th,
            #statisticTable td {
                padding: 10px;
                border: 1px solid #ddd;
            }

        #tableDisplay h3 {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        #contactsTable {
            width: 100%;
            border-collapse: collapse;
        }

            #contactsTable th,
            #contactsTable td {
                padding: 10px;
                border: 1px solid #ddd;
            }

        #closeButton {
            color: white;
            position: absolute;
            top: 0;
            right: 0;
            margin: 10px;
            cursor: pointer;
        }

        #passwordPrompt {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(162, 128, 254, 0.5);
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            z-index: 9999;
            width: 30%;
            height: 10%;
        }

        .input-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #passwordPrompt input[type="password"] {
            margin: 1%;
            padding: 1%;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff !important;
            width: 80%;
            height: 30%;
        }

        #passwordPrompt button {
            margin: 3%;
            padding: 1%;
            background-color: #161519;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 70%;
            height: 40%;
        }

                #passwordPrompt button:hover {
                    background-color: #221638;
                }
    </style>
    @* скрипт *@
    <script>
        // если нажать, то меняем стиль на блок, то есть показываем
        function showPasswordPrompt() {
            document.getElementById("passwordPrompt").style.display = "block";

            var imageCat = document.getElementById("imageCat");
            imageCat.style.display = "block";
            setTimeout(function () {
                imageCat.classList.add("show");
            }, 100);

        }


        // если нажать проверить пароль, то 
        function checkPassword() {
            //получаем пароль
            var password = document.getElementById("passwordInput").value;
            //если пароль верный
            if (password === "inginistories") {
                document.getElementById("passwordPrompt").style.display = "none";
                document.getElementById("imageCat").style.display = "none";
                document.getElementById("tableDisplay").style.display = "block";
            
            } else {
                alert("Неверный пароль");
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            // Получаем элементы
            var passwordPrompt = document.getElementById('passwordPrompt');
            var closeButton = document.getElementById('closeButton');

            // Обработчик события 'click' для closeButton
            closeButton.addEventListener('click', function () {
                passwordPrompt.style.display = 'none';
                document.getElementById("imageCat").style.display = "none";
            });
        });

  

    </script>

</body>
</html>
